ANTHROPIC_API_KEY=
AGENTO11Y_ENDPOINT=
AGENTO11Y_PROTOCOL=http
AGENTO11Y_AUTH_MODE=basic
AGENTO11Y_AUTH_TENANT_ID=
AGENTO11Y_AUTH_TOKEN=
OTEL_EXPORTER_OTLP_ENDPOINT=
OTEL_EXPORTER_OTLP_HEADERS=Authorization=Basic%20<base64 of instance_id:token>
